body {
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
}

h4 {
  font-size: 1.35rem;
}

.bg-1 {
  background-color: #1d1d1d;
}

.bg-2 {
  background-color: #dad6cc;
}

.bg-gradient {
  position: relative;
  width: 100%;
  height: 300px;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(33, 33, 33, 0.01)), color-stop(67%, #212121), color-stop(100%, #212121));
  background: -webkit-linear-gradient(top, rgba(33, 33, 33, 0.01) 0%, #1d1d1d 67%, #1d1d1d 100%);
  background: linear-gradient(to bottom, rgba(33, 33, 33, 0.01) 0%, #1d1d1d 67%, #1d1d1d 100%);
}

.copy-primary {
  font-family: 'Khula', sans-serif;
  color: #dad6cc;
  font-weight: 700;
}

.copy-secondary {
  color: #dad6cc;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 1.5px;
}

.copy-tertiary {
  color: #8f7c4f;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1.5px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.line {
  border-color: #8f7c4f;
}

.thick-line {
  border-top: 8px solid #8f7c4f;
  width: 60%;
  padding: 10px;
}

.top-line {
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

.p-top {
  padding-top: 6rem;
}

.nav-line {
  display: inline-block;
  border-top: 2px solid #8f7c4f;
}

.trans--grow {
  position: absolute;
  bottom: 90;
  right: 0;
  transition: all 1.25s ease-out;
  width: 0;
  opacity: 0;
}

.grow {
  z-index: 0;
  width: calc(100% - 560px);
  opacity: 0.75;
}

.nav-item-visibilty {
  transition: opacity 1.25s ease-out, transform 1.25s ease-out;
  opacity: 0;
  transform: rotateX(90deg);
}

.nav-opacity {
  opacity: 1;
  transform: rotateX(0deg);
}

.nav-text a {
  color: #8f7c4f;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-family: 'Khula', sans-serif;
}

.nav-text a:hover {
  color: #dcbd8d;
}

.nav-item a img {
  width: 38px;
  position: relative;
  top: -10px;
  opacity: 1;
  transition: 600ms ease all;
  cursor: pointer;
  transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.nav-item a img:hover {
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0.006, 0, 0, 1, 0, 0, 0, 0, 1);
}

.bg-nav {
  background-color: #dad6cc;
  border-radius: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.bg-nav .nav-line {
  display: none;
}

.bg-nav .nav-text a {
  color: #8f7c4f;
}

.bg-nav .nav-text a:hover {
  color: #604a28;
}

.dropdown-menu {
  background-color: #f8c053;
  padding: 0;
  border-radius: 0;
}

.dropdown-menu .dropdown-item {
  color: #212121;
  font-weight: 400;
  transition: 0.25s ease all;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #fcd58a;
}

.nav-wrapper {
  z-index: 1000;
}

#nav-toggle {
  cursor: pointer;
  padding: 10px 35px 16px 0;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 35px;
  background: #8f7c4f;
  position: absolute;
  display: block;
  content: '';
}

#nav-toggle span:before {
  top: -8px;
}

#nav-toggle span:after {
  bottom: -8px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

.menu-icon {
  margin: 0;
}

.jumbotron {
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.down-arrow {
  position: relative;
  top: 170px;
  margin-left: calc(50% - 53px);
  z-index: 250;
  opacity: 0.5;
  width: auto;
}

#jumpButton {
  padding: 20px;
}

#jumpButton:hover {
  cursor: pointer;
}

section {
  max-height: auto;
}

.home .row {
  padding-top: 10rem;
}

.headline-copy h1 {
  margin-bottom: 10px;
}

.my-work {
  padding-bottom: 6rem;
}

.my-work .px {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.my-work .row hr {
  width: 10%;
}

.square-border {
  width: auto;
  height: calc(100% - 2rem);
  margin: 1rem;
  border: 3px solid #8f7c4f;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
}

.gallery-header {
  color: #8f7c4f;
}

.column-fluid-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  height: 1600px;
}

.c3,
.c4,
.c5 {
  width: 100%;
  border-top: 10px solid #8f7c4f;
}

.c1,
.c2 {
  width: 100%;
  border-top: 10px solid #8f7c4f;
}

.c2,
.c3,
.c4,
.c5 {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: block;
  opacity: 1;
}

.d3,
.d4 {
  width: 100%;
  border-top: 10px solid #8f7c4f;
}

.d3,
.d4 {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: block;
  opacity: 1;
}

.a3-img-bg::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s;
}

.btn-view {
  color: #dad6cc;
  /* Good thing we set a fallback color! */
  padding: 15px 50px;
  position: absolute;
  border: 2px solid #dad6cc;
  opacity: 0;
  transition: 0.5s;
  top: calc(50% - 30px);
  left: calc(50% - 75px);
}

.c2:hover .btn-view,
.c2:focus .btn-view {
  opacity: 1;
  cursor: pointer;
}

.c2:hover .a3-img-bg:before,
.c2:focus .a3-img-bg:before {
  display: block;
  opacity: 1;
  cursor: pointer;
}

.c2:hover .a3-img-bg,
.c2:focus .a3-img-bg {
  transform: scale(1.2);
}

.a3-img-bg {
  background-color: black;
  background-image: url("../img/a3-branding.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  transition: all 0.5s;
}

.gropro-img-bg::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s;
}

.c3:hover .btn-view,
.c3:focus .btn-view {
  opacity: 1;
  cursor: pointer;
}

.c3:hover .gropro-img-bg:before,
.c3:focus .gropro-img-bg:before {
  display: block;
  opacity: 1;
  cursor: pointer;
}

.c3:hover .gropro-img-bg,
.c3:focus .gropro-img-bg {
  transform: scale(1.2);
}

.gropro-img-bg {
  background-image: url("../img/evrGroPro-package.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  transition: 400ms;
}

.gropro-label-img-bg::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s;
}

.c4:hover .btn-view,
.c4:focus .btn-view {
  opacity: 1;
  cursor: pointer;
}

.c4:hover .gropro-label-img-bg:before,
.c4:focus .gropro-label-img-bg:before {
  display: block;
  opacity: 1;
  cursor: pointer;
}

.c4:hover .gropro-label-img-bg,
.c4:focus .gropro-label-img-bg {
  transform: scale(1.2);
}

.gropro-label-img-bg {
  background-image: url("../img/gro-pro-label.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  transition: 400ms;
}

.hoppy-holidays-bg::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s;
}

.c5:hover .btn-view,
.c5:focus .btn-view {
  opacity: 1;
  cursor: pointer;
}

.c5:hover .hoppy-holidays-bg:before,
.c5:focus .hoppy-holidays-bg:before {
  display: block;
  opacity: 1;
  cursor: pointer;
}

.c5:hover .hoppy-holidays-bg,
.c5:focus .hoppy-holidays-bg {
  transform: scale(1.2);
}

.hoppy-holidays-bg {
  background-image: url("../img/hoppy-holidays.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  transition: 400ms;
}

.inspiration-img-bg::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s;
}

.c2:hover .btn-view,
.c2:focus .btn-view {
  opacity: 1;
  cursor: pointer;
}

.c2:hover .inspiration-img-bg:before,
.c2:focus .inspiration-img-bg:before {
  display: block;
  opacity: 1;
  cursor: pointer;
}

.c2:hover .inspiration-img-bg,
.c2:focus .inspiration-img-bg {
  transform: scale(1.2);
}

.inspiration-img-bg {
  background-image: url("../img/inspiration.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  transition: 400ms;
}

.mouse-img-bg::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s;
}

.d3:hover .btn-view,
.d3:focus .btn-view {
  opacity: 1;
  cursor: pointer;
}

.d3:hover .mouse-img-bg:before,
.d3:focus .mouse-img-bg:before {
  display: block;
  opacity: 1;
  cursor: pointer;
}

.d3:hover .mouse-img-bg,
.d3:focus .mouse-img-bg {
  transform: scale(1.2);
}

.mouse-img-bg {
  background-image: url("../img/mouse.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  transition: 400ms;
}

.salesman-img-bg::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s;
}

.d4:hover .btn-view,
.d4:focus .btn-view {
  opacity: 1;
  cursor: pointer;
}

.d4:hover .salesman-img-bg:before,
.d4:focus .salesman-img-bg:before {
  display: block;
  opacity: 1;
  cursor: pointer;
}

.d4:hover .salesman-img-bg,
.d4:focus .salesman-img-bg {
  transform: scale(1.2);
}

.salesman-img-bg {
  background-image: url("../img/salesman.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  transition: 400ms;
}

.rdg-img-bg::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s;
}

.c2:hover .btn-view,
.c2:focus .btn-view {
  opacity: 1;
  cursor: pointer;
}

.c2:hover .rdg-img-bg:before,
.c2:focus .rdg-img-bg:before {
  display: block;
  opacity: 1;
  cursor: pointer;
}

.c2:hover .rdg-img-bg,
.c2:focus .rdg-img-bg {
  transform: scale(1.2);
}

.rdg-img-bg {
  background-image: url("../img/rdg-website.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  transition: 400ms;
}

.stavros-img-bg::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s;
}

.c3:hover .btn-view,
.c3:focus .btn-view {
  opacity: 1;
  cursor: pointer;
}

.c3:hover .stavros-img-bg:before,
.c3:focus .stavros-img-bg:before {
  display: block;
  opacity: 1;
  cursor: pointer;
}

.c3:hover .stavros-img-bg,
.c3:focus .stavros-img-bg {
  transform: scale(1.2);
}

.stavros-img-bg {
  background-image: url("../img/stavros-website.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  transition: 400ms;
}

.stavros-mobile-img-bg::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s;
}

.c4:hover .btn-view,
.c4:focus .btn-view {
  opacity: 1;
  cursor: pointer;
}

.c4:hover .stavros-mobile-img-bg:before,
.c4:focus .stavros-mobile-img-bg:before {
  display: block;
  opacity: 1;
  cursor: pointer;
}

.c4:hover .stavros-mobile-img-bg,
.c4:focus .stavros-mobile-img-bg {
  transform: scale(1.2);
}

.stavros-mobile-img-bg {
  background-image: url("../img/stavros-mobile-website.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  transition: 400ms;
}

.gargas-img-bg::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.5s;
}

.c5:hover .btn-view,
.c5:focus .btn-view {
  opacity: 1;
  cursor: pointer;
}

.c5:hover .gargas-img-bg:before,
.c5:focus .gargas-img-bg:before {
  display: block;
  opacity: 1;
  cursor: pointer;
}

.c5:hover .gargas-img-bg,
.c5:focus .gargas-img-bg {
  transform: scale(1.2);
}

.gargas-img-bg {
  background-image: url("../img/gargas-website.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  transition: 400ms;
}

#about {
  border-top: 10px solid #8f7c4f;
  padding-bottom: 35px;
  min-height: 726px;
}

#about h1 {
  margin: 35px 0;
}

#about h1 span {
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: italic;
}

#about h3 {
  margin: 35px 0 20px;
  font-style: italic;
}

#about p {
  margin-bottom: 20px;
  height: 70px;
}

.carousel-control {
  opacity: 1;
  color: #8f7c4f;
  text-shadow: none;
}

.carousel-control:hover,
.carousel-control:focus {
  opacity: 1;
  color: #8f7c4f;
}

.right {
  transform: translateX(-25px);
}

.carousel-control.right,
.carousel-control.left {
  background-image: none !important;
}

.icon-next::before,
.icon-prev::before {
  border: 2px solid #8f7c4f;
  padding: 7px 19px 10px;
}

.icon-next,
.icon-prev {
  transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.icon-next:hover,
.icon-prev:hover {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0.003, 0, 0, 1, 0, 0, 0, 0, 1);
}

.carousel-indicators {
  transform: translateY(30px);
}

.carousel-indicators li {
  border: 2px solid #8f7c4f;
}

.carousel-indicators .active {
  background-color: #8f7c4f;
}

.slider-img {
  width: 35%;
  margin-top: 25px;
}

.btn-outline-primary {
  border: 2px solid #8f7c4f;
  color: #8f7c4f;
  border-radius: 0;
}

.btn-outline-primary:hover {
  background-color: transparent;
  border: 2px solid #8f7c4f;
}

.btn-outline-primary:focus {
  background-color: transparent;
  border: 2px solid #8f7c4f;
}

.btn-outline-primary:active {
  background-color: transparent;
  border: 2px solid #8f7c4f;
}

.btn-outline-primary:visited {
  background-color: transparent;
  border: 2px solid #8f7c4f;
}

#contact {
  border-top: 10px solid #8f7c4f;
}

#contact h1 {
  margin: 15px 0 55px;
}

#contact h1 span {
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: italic;
}

#contact .border-container {
  width: auto;
  height: calc(100% - 2rem);
  margin: 1rem;
  padding: 25px;
}

.form-group input {
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #8f7c4f;
  color: #8f7c4f;
  transition: 300ms;
}

.form-group input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #8f7c4f;
}

.form-group input::-moz-placeholder {
  /* Firefox 19+ */
  color: #8f7c4f;
}

.form-group input:-ms-input-placeholder {
  /* IE 10+ */
  color: #8f7c4f;
}

.form-group input:focus {
  background-color: #8f7c4f;
  border-bottom: 2px solid #8f7c4f;
  color: #dad6cc;
}

.form-group textarea {
  background-color: #d1c5b8;
  border: 2px solid #8f7c4f;
  color: #8f7c4f;
}

.form-group textarea:focus {
  color: #8f7c4f;
  background-color: #d1c5b8;
  border: 2px solid #8f7c4f;
}

.form-group textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #8f7c4f;
}

.form-group textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #8f7c4f;
}

.form-group textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #8f7c4f;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofil {
  background-color: transparent !important;
}

.form-control:focus {
  border: none;
}

.form-group .has-danger {
  box-shadow: none;
  border: none;
}

.has-danger {
  box-shadow: none;
}

.controls .row {
  min-height: 100px;
}

.help-block {
  color: #8f7c4f;
  padding-top: 10px;
  padding-left: 10px;
  opacity: 0.5;
}

.btn-outline-primary:disabled:hover {
  border: 2px solid #8f7c4f;
  color: #8f7c4f;
  opacity: 0.5;
  border-color: #8f7c4f;
}

.btn-outline-primary.disabled:hover {
  border-color: #8f7c4f;
}

.btn-outline-primary.disabled.focus {
  border-color: #8f7c4f;
  background: transparent;
  color: #8f7c4f;
}

#footer .row div {
  min-height: 250px;
}

#footer .row div img {
  max-height: 90%;
  width: auto;
}

#footer .row .copy-tertiary {
  font-weight: 400;
  color: #dad6cc;
  font-style: normal;
}

#footer .row svg {
  width: 75%;
  max-width: 55px;
  min-width: 35px;
  cursor: pointer;
  fill: #8f7c4f;
  transition: 350ms;
}

#footer .row svg:hover {
  fill: #dad6cc;
}

#footer .row #i {
  fill: #8f7c4f;
  transition: 350ms;
}

#footer .row #i:hover {
  fill: #dad6cc;
}

#footer .row .twitter {
  width: 100%;
}

#footer .row .twitter #t {
  fill: #8f7c4f;
  transition: 350ms;
}

#footer .row .twitter #t:hover {
  fill: #dad6cc;
}

.border-right {
  border-right: 1px solid #8f7c4f;
}

.gallery-modal {
  background-color: #dad6cc;
}

.gallery-modal .modal-header {
  border: none;
  padding-bottom: 0;
}

.gallery-modal .modal-header .close {
  color: #8f7c4f;
  opacity: 0.5;
  transition: 0.4s;
  text-shadow: none;
}

.gallery-modal .modal-header .close:hover {
  color: #8f7c4f;
  opacity: 1;
}

.gallery-modal .modal-header .modal-border {
  border: 3px solid #8f7c4f;
  padding: 1rem;
}

.gallery-modal .modal-header .modal-text {
  font-family: 'Khula', sans-serif;
  color: #8f7c4f;
  font-weight: 700;
  font-size: 20px;
}

.gallery-modal .modal-header .modal-text em {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #8f7c4f;
  font-style: italic;
  font-size: 19.5px;
}

.gallery-modal .modal-header .modal-text span {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: #8f7c4f;
  font-style: italic;
  font-size: 15px !important;
}

.gallery-modal .modal-body {
  padding-top: 0;
  padding-bottom: 0;
}

.gallery-modal .modal-body .modal-border {
  border: 3px solid #8f7c4f;
  border-top: 0;
}

.gallery-modal .modal-footer {
  padding-top: 0;
  border: none;
}

.gallery-modal .modal-footer .modal-border {
  border: 3px solid #8f7c4f;
  border-top: 0;
  padding: 1rem;
}

.gallery-modal .modal-footer .modal-text-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #8f7c4f;
  font-style: normal;
  font-size: 14px !important;
  text-align: left;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 8s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@media (min-width: 600px) {
  .d3 {
    width: 50%;
    border-top: 10px solid #8f7c4f;
  }
  .d4 {
    width: 100%;
    border-top: 10px solid #8f7c4f;
  }
  .column-fluid-container {
    height: 1200px;
  }
  .c2,
  .c3,
  .c4,
  .c5 {
    width: 50%;
    border-top: 10px solid #8f7c4f;
  }
  .c2 {
    border-right: 10px solid #8f7c4f;
  }
  .c4 {
    border-right: 10px solid #8f7c4f;
  }
}

@media (min-width: 768px) {
  .d3 {
    width: 50%;
    border-top: 10px solid #8f7c4f;
    border-right: 10px solid #8f7c4f;
  }
  .d4 {
    width: 50%;
    border-top: 10px solid #8f7c4f;
  }
  .column-fluid-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 900px;
  }
  .c1 {
    width: 60%;
    border-right: 10px solid #8f7c4f;
  }
  .c2 {
    width: 40%;
    border-right: 0 solid #8f7c4f;
  }
  .c3,
  .c4,
  .c5 {
    width: 33.33%;
    border-top: 10px solid #8f7c4f;
  }
  .c3,
  .c4 {
    border-right: 10px solid #8f7c4f;
  }
}

.svg-container {
  width: 65%;
  padding-bottom: 35px;
}

@media (min-width: 768px) {
  .my-work .row {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .my-work .px {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 575px) {
  .border-right {
    border-right: none;
  }
  #footer .row .copy-tertiary {
    font-weight: 400;
    color: #dad6cc;
    font-style: normal;
    font-size: 15px !important;
  }
}

@media (max-width: 768px) {
  .nav-line {
    display: none;
  }
  #contact {
    padding-left: 0;
    padding-right: 0;
  }
  #footer .row .copy-tertiary {
    font-weight: 400;
    color: #dad6cc;
    font-style: normal;
    font-size: 10px;
  }
  .border-container {
    border: 3px solid #8f7c4f;
    width: auto;
    height: calc(100% - 2rem);
    margin: 1rem;
    padding: 25px;
  }
  .p-top {
    padding-top: 3rem;
  }
  .home {
    height: 500px !important;
  }
  .bg-nav {
    background-color: transparent !important;
  }
  .nav-wrapper {
    z-index: 100;
    width: 100%;
    padding: 0 !important;
  }
  .nav-wrapper .menu-icon {
    position: relative;
    top: 10px;
    left: 20px;
    z-index: 200;
  }
  .nav-wrapper ul {
    display: block;
    width: 100%;
  }
  .nav-wrapper ul li {
    width: 100%;
    background-color: #dad6cc !important;
    margin: 0 !important;
    text-align: center;
    border: 1px solid #dad6cc;
    z-index: 9999;
  }
  .nav-wrapper ul li:first-child {
    padding-top: 25px;
  }
  .nav-wrapper ul li:last-child {
    padding-bottom: 15px;
  }
  .nav-wrapper ul {
    display: none;
    position: relative;
    top: -25px;
  }
  .nav-wrapper ul li:last-child {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  .bg-nav {
    background-color: #dad6cc;
    border-radius: 0;
    box-shadow: 0 2px 2px transparent;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .menu-icon {
    display: none !important;
  }
}
